<div class="hero-container">
  <video src="../../assets/videos/v4.mp4" autoPlay loop muted></video>
  <h1>MOMENTS CAPTURED MEMORIES</h1>
  <p>What are you waiting for?</p>
  <div class="hero-btns">
    <app-button
      class="btn"
      buttonStyle="btn--outline"
      buttonSize="btn--large"
      children="GET STARTED"
    >
    </app-button>
    <app-button
      class="btn"
      buttonStyle="btn--primary"
      buttonSize="btn--large"
      children="WATCH VIDEO "
    >
      <i class="far fa-play-circle"></i>
    </app-button>
  </div>
</div>
